.speakers {
  background-color: @main-bg-color;
  padding-bottom: 80px;
  z-index: 10;
  overflow: hidden;
}

.speakers__wrap {
  padding: 40px;
  padding-top: 60px;
  background-color: @white;
  @media(max-width: @brakepoint-large) {
    padding-top: 70px;
  }
  @media(max-width: @brakepoint-medium) {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 96px;
  }
  @media(max-width: @brakepoint-small) {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 60px;
    padding-bottom: 0;
  }
}

.speakers__title {
  float: left;
  margin-bottom: 40px;
  @media(max-width: @brakepoint-large) {
    margin-bottom: 55px;
  }
  @media(max-width: @brakepoint-small) {
    margin-bottom: 25px;
  }
}

.speakers__list {
  list-style: none;
  @media(max-width: @brakepoint-small) {
    margin-top: 40px;
  }
}

.speakers__item {
  position: relative;
  float: left;
  width: 48%;
  margin-right: 20px;
  margin-bottom: 40px;
  &:nth-child(2n) {
    margin-right: 0;
  }
  @media(max-width: @brakepoint-large) {
    margin-right: 4%;
    margin-bottom: 35px;
  }
  @media(max-width: @brakepoint-medium) {
    display: block;
    width: auto;
    margin-right: 0;
    margin-left: 60px;
    margin-bottom: 38px;
  }
  @media(max-width: @brakepoint-small) {
    display: block;
    width: auto;
    margin: 0;
    margin-bottom: 25px;
  }
}

.speakers__item-title {
  position: relative;
  left: -43px;
  margin-top: 40px;
  margin-bottom: 30px;
  @media(max-width: @brakepoint-large) {
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 28px;
  }
  @media(max-width: @brakepoint-medium) {
    float: left;
    width: 45%;
    padding-top: 19px;
    padding-bottom: 35px;
    left: -58px;
    font-size: 30px;
  }
  @media(max-width: @brakepoint-small) {
    display: inline-block;
    left: -30px;
    top:0;
    margin: 0;
    margin-top: -10px;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 13px;
  }
}

.speakers__item-subtitle {
  margin-bottom: 20px;
  @media(max-width: @brakepoint-large) {
    margin-bottom: 11px;
    font-size: 14px;
  }
  @media(max-width: @brakepoint-medium) {
    float: left;
    width: 45%;
    margin-bottom: 25px;
    font-size: 16px;
  }
  @media(max-width: @brakepoint-small) {
    display: inline-block;
    margin: 0;
    margin-top: -5px;
    width: 50%;
    font-size: 14px;
    line-height: 18px;
  }
}

.speakers__text {
  position: absolute;
  left: 272px;
  bottom: 0;
  height: 75px;
  display: inline-block;
  vertical-align: top;

  @media(max-width: @brakepoint-large) {
    left: 224px;
    height: auto;
    min-height: 50px;
    font-size: 14px;
  }
  @media(max-width: @brakepoint-medium) {
    display: block;
    position: relative;
    left: auto;
    bottom: auto;
    min-height: auto;
    font-size: 16px;
    float: left;
    width: 45%;
  }
  @media(max-width: @brakepoint-small) {
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    width: 50%;
    font-size: 14px;
    line-height: 18px;
  }
}

.speakers__item-img {
  float: left;
  width: 252px;
  height: 318px;
  margin-right: 20px;
  @media(max-width: @brakepoint-large) {
    width: 203px;
    height: 255px;
  }
  @media(max-width: @brakepoint-medium) {
    width: 252px;
    height: 318px;
  }
  @media(max-width: @brakepoint-small) {
    width: 129px;
    height: 165px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  &.img-1 {
    background-color: @speaker-1;
  }
  &.img-2 {
    background-color: @speaker-2;
  }
  &.img-3 {
    background-color: @speaker-3;
  }
  &.img-4 {
    background-color: @speaker-4;
  }
  &.img-5 {
    background-color: @speaker-5;
  }
  &.img-6 {
    background-color: @speaker-6;
  }
  &.img-7 {
    background-color: @speaker-7;
  }
  &.img-8 {
    background-color: @speaker-8;
  }
}
