.sponsors {
  padding-bottom: 15px;
  background-color: @main-bg-color;
  @media(max-width: @brakepoint-large) {
    padding-bottom: 37px;
  }
  @media(max-width: @brakepoint-medium) {
    padding-bottom: 70px;
  }
  @media(max-width: @brakepoint-small) {
    padding-top: 37px;
  }
}

.sponsors__wrap {
  padding-left: 45px;
  @media(max-width: @brakepoint-large) {
    padding-left: 0;
  }
  @media(max-width: @brakepoint-medium) {
    padding-left: 15px;
  }
  @media(max-width: @brakepoint-small) {
    padding-left: 20px;
    padding-right: 10px;
  }
}

.sponsors__title {
  margin-bottom: 70px;
  @media(max-width: @brakepoint-small) {
    margin-bottom: 28px;
  }
}

.sponsors__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  &.second {
    justify-content: space-between;
    @media(max-width: @brakepoint-medium) {
      justify-content: space-around;
    }
  }
  @media(max-width: @brakepoint-small) {
    display: block;
    text-align: center;
  }
}

.sponsors__item {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-bottom: 100px;
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  &.big {
    margin-bottom: 80px;
  }

  &.ps {
    width: 407px;
    height: 84px;
    @media(max-width: @brakepoint-medium) {
      width: 324px;
      height: 67px;
      top: 10px;
    }
    @media(max-width: @brakepoint-small) {
      display: block;
      width: 270px;
      height: 56px;
      top: auto;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 49px;
    }
  }
  &.ib {
    top: 25px;
    left: -40px;
    width: 383px;
    height: 45px;
    @media(max-width: @brakepoint-large) {
      left: 0;
    }
    @media(max-width: @brakepoint-medium) {
      width: 294px;
      height: 35px;
    }
    @media(max-width: @brakepoint-small) {
      padding: 0;
      margin: 0;
      width: 254px;
      height: 30px;
      left: auto;
      top: auto;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 43px;
    }
  }
  &.almo {
    width: 253px;
    height: 125px;
    @media(max-width: @brakepoint-large) {
      left: 19px;
      top: -25px;
    }
    @media(max-width: @brakepoint-medium) {
      width: 204px;
      height: 101px;
    }
    @media(max-width: @brakepoint-small) {
      padding: 0;
      margin: 0;
      width: 204px;
      height: 101px;
      left: auto;
      top: auto;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 48px;
    }
  }
  &.now {
    width: 236px;
    height: 113px;
    @media(max-width: @brakepoint-medium) {
      width: 190px;
      height: 91px;
      margin: 0 75px;
    }
    @media(max-width: @brakepoint-small) {
      padding: 0;
      margin: 0;
      width: 190px;
      height: 91px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 38px;
    }
  }
  &.go {
    width: 204px;
    height: 121px;
    @media(max-width: @brakepoint-medium) {
      width: 165px;
      height: 98px;
    }
    @media(max-width: @brakepoint-small) {
      padding: 0;
      margin: 0;
      width: 165px;
      height: 98px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media(max-width: @brakepoint-medium) {
    margin-bottom: 65px;
  }
  @media(max-width: @brakepoint-small) {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}
