// PARALLAX ANIMALS

// HEADER ANIMALS
&.animal-1 {
  position: absolute;
  width: 500px;
  left: 54%;
  top: 30%;
  @media(max-width: @brakepoint-large) {
    left: -350px;
  }
  @media(max-width: @brakepoint-medium) {
    left: -360px;
  }
  @media(max-width: @brakepoint-small) {
    display: none;
  }
}

&.animal-2 {
  position: absolute;
  width: 500px;
  left: -100px;
  top: -155px;
  @media(max-width: @brakepoint-large) {
    display: none;
  }
}

&.animal-3 {
  position: absolute;
  width: 500px;
  left: -100px;
  top: auto;
  bottom: -310px;
  @media(max-width: @brakepoint-large) {
    display: none;
  }
}

&.animal-4 {
  position: absolute;
  width: 500px;
  left: auto;
  right: -80px;
  top: -160px;
  @media(max-width: @brakepoint-medium) {
    right: -170px;
  }
  @media(max-width: @brakepoint-small) {
    right: -215px;
    top: -230px;
  }
}

&.animal-5 {
  position: absolute;
  width: 500px;
  left: auto;
  right: -80px;
  top: auto;
  bottom: -180px;
  @media(max-width: @brakepoint-large) {
    bottom: -110px;
  }
  @media(max-width: @brakepoint-medium) {
    right: -170px;
  }
  @media(max-width: @brakepoint-small) {
    right: -215px;
    bottom: -140px;
  }
}

// ABOUT ANIMALS

.about__animal {
  opacity: 0.4;
  position: relative;
  height: auto;
  @media(max-width: @brakepoint-medium) {
    display: none;
  }
}
.about__animal-1 {
  right: -54%;
  top: -30px;
  // width: 425px;
}

.about__animal-2 {
  width: 355px;
  right: 0;
  top: -50px;
}
// dog-2
.about__animal-3 {
  width: 548px;
  right: -40%;
  top: 150px;
}

.about__animal-4 {
  width: 410px;
  right: 20%;
  top: 250px;
}

// END PARALLAX ANIMALS



// parallax-figures
.parallax-figures {
  text-align: center;
  position: absolute;
  z-index: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  z-index: -1;
  img {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
    @media(max-width: @brakepoint-large) {
      width: 170%;
    }
  }
  &_header {
  z-index: 0;
  }
  &_about {

  }
  &_about_animal {
    img {
      display: inline-block;
      margin-right: 0;
      margin-left: 0;
      width: 20%;
      height: auto;
      &.about__animal-1 {
        width: 477px;
        left: 14%;
        top: 270px;
        @media(max-width: @brakepoint-large) {
          left: 25%;
        }
      }
      &.about__animal-2 {
        width: 477px;
        left: -16%;
        top: 180px;
        @media(max-width: @brakepoint-large) {
          left: -32%;
        }
      }
      &.about__animal-3 {
        width: 645px;
        left: 9%;
        top: 0;
      }
      &.about__animal-4 {
        width: 500px;
        left: -20%;
        top: 200px;
        @media(max-width: @brakepoint-large) {
          left: -40%;
        }
      }
    }
  }
  &_speakers {

  }
  &_banner {
    img {
      width: 74%;
      top:-250px;
      @media(max-width: @brakepoint-large) {
        width: 170%;
      }
    }
  }
  &_slider {
    img {
      top: -400px;
      @media(max-width: @brakepoint-large) {
        width: 170%;
      }
    }
  }
  &_faq {
    img {
      top: -50px;
      @media(max-width: @brakepoint-large) {
        top: 400px;
      }
    }
  }
  &_schedule {

  }
  &_sponsors {
    img {
      top: -160px;
      @media(max-width: @brakepoint-large) {
        top: -200px;
      }
    }
  }
  @media(max-width: @brakepoint-medium) {
    display: none;
  }
}
// не скрывать параллакс в header
.main-head .parallax-figures {
  @media(max-width: @brakepoint-medium) {
    display: block;
  }
}



// test
@keyframes animatedBackground {
    0 {
        background-position: 0 0
    }
    100% {
        background-position: -600px 600px
    }
}

#bg{
  position: absolute;
	height: 100%;
	width:100%;
	background-image: url('../img/background/header-figures.png');
	// animation: animatedBackground 30s linear infinite;
	// -moz-animation: animatedBackground 30s linear infinite;
	// -webkit-animation: animatedBackground 30s linear infinite;
 // 	-o-animation: animatedBackground 30s linear infinite;
}
