// FOUNDATION
body {
  margin: 0;
  font-family: @DinRegular;
  font-size: 16px;
  color: @black;
  // background-color: @lightblue;
}

main {
  position: relative;
}

// reset margins and paddings
h1,h2,h3,h4,h5,h6,p,a,ul,li,section,article,div,span {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  &.lined {
    text-decoration: underline;
  }
}

// ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ
.shadow {
  box-shadow: 0 44px 53px 1px rgba(10, 39, 40, 0.15);
}

// ЗАГОЛОВКИ

h1 {
  // пока отсутствует. Вместо него - лого
}

.title_h2 {
  color: @black;
  font-family: @DinBold;
  font-size: 48px;
  line-height: 55px;
  @media(max-width: @brakepoint-small) {
    font-size: 30px;
    line-height: 40px;
  }
}

.title_h3 {
color: @black;
font-family: @DinBold;
font-size: 30px;
line-height: 36px;
@media(max-width: @brakepoint-small) {
  font-size: 20px;
  line-height: 26px;
}
}

.title_h4 {
color: @black;
font-family: @DinRegular;
font-size: 16px;
line-height: 22px;
@media(max-width: @brakepoint-small) {
font-size: 14px;
line-height: 18px;
}
}

.title_blue {
  font-family: @DinRegular;
  font-weight: 500;
  color: @blue;
  font-size: 20px;
  line-height: 24px;
  @media(max-width: @brakepoint-small) {
    font-size: 16px;
    line-height: 24px;
  }
}

// text
.text_normal {
color: @black;
font-family: @DinNormal;
font-size: 16px;
line-height: 24px;
@media(max-width: @brakepoint-small) {
  font-size: 14px;
  line-height: 24px;
}
}

.text_light {
color: @black;
font-family: @DinLight;
font-size: 16px;
line-height: 24px;
@media(max-width: @brakepoint-small) {
  font-size: 14px;
  line-height: 18px;
}
}

.text_blue {
  color: @blue;
  font-family: @DinRegular;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;

}

.text_orange {
  color: @orange;
  font-size: inherit;
  font-family: @DinBold;
  line-height: inherit;
}

.bold {
  font-family: @DinBold;
}

.regular {
  font-family: @DinRegular;
}

.normal {
  font-family: @DinNormal;
}

.light {
  font-family: @DinLight;
}

.unclicable {
  color: #576269;
}

.no-wrap {
  white-space: nowrap;
}

.transparent {
  color: transparent;
  background-color: transparent;
  opacity: 0;
}

// .not-active {
//   opacity: 0.4;
//   cursor: default;
//   &:hover {
//     text-decoration: none;
//   }
// }

// КНОПКИ

.btn {
  position: relative;
  display: inline-block;
  font-family: @DinBold;
  font-size: 18px;
  line-height: 2.9em;
  padding: 0 1.1em;
  color: @white;
  background-color: @orange;
  text-transform: uppercase;
  border-radius: 2px;
  transition: background-color 0.3s;
  z-index: 3;
  &:hover {
    text-decoration: none;
    background-color: @darkorange;
  }
}

.btn_rub {
  padding-bottom: 2px;
}

// ИКОНКИ

.rub {
  display: inline-block;
  font-family: @Rub;
  font-style: normal;
  &_big {
    font-size: 120%;
  }
}

.social__item {
  transition: background-color 0.2s;
  display: inline-flex;
  vertical-align: top;
  list-style: none;
  border-radius: 50%;
  background-color: @blue;
  margin-right: 10px;
  width: 33px;
  height: 33px;
  &:last-child {
    margin-right: 0;
  }
  a {
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    img {
      margin: auto;
      width: 100%;
      height: auto;
    }
  }
  &.vk {
    &:hover {
      background-color: #4D75A3;
    }
    a {
      img {
        width: 21px;
        height: 12px;
        @media(max-width: @brakepoint-medium) {
          width: 37px;
          height: 21px;
        }
        @media(max-width: @brakepoint-small) {
          width: 25px;
          height: 14px;
        }
      }
    }
  }
  &.inst {
    &:hover {
      background-color: #E12F67;
    }
    a {
      img {
        width: 19px;
        height: 19px;
        @media(max-width: @brakepoint-medium) {
          width: 33px;
          height: 33px;
        }
        @media(max-width: @brakepoint-small) {
          width: 22px;
          height: 21px;
        }
      }
    }
  }
  &.fb {
    &:hover {
      background-color: #3B5998;
    }
    a {
      img {
        width: 9px;
        height: 19px;
        @media(max-width: @brakepoint-medium) {
          width: 16px;
          height: 33px;
        }
        @media(max-width: @brakepoint-small) {
          width: 11px;
          height: 21px;
        }
      }
    }
  }
  @media(max-width: @brakepoint-medium) {
    width: 58px;
    height: 58px;
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media(max-width: @brakepoint-small) {
    width: 38px;
    height: 38px;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }

  // большие --------------------- в футере
  &.big {
    width: 46px;
    height: 46px;
    margin-right: 22px;
    &:last-child {
      margin-right: 0;
    }
    &.vk {
      a {
        img {
          width: 30px;
          height: 17px;
          @media(max-width: @brakepoint-small) {
            width: 24px;
            height: 13px;
          }
        }
      }
    }
    &.inst {
      a {
        img {
          width: 28px;
          height: 26px;
          @media(max-width: @brakepoint-small) {
            width: 22px;
            height: 20px;
          }
        }
      }
    }
    &.fb {
      a {
        img {
          width: 13px;
          height: 26px;
          @media(max-width: @brakepoint-small) {
            width: 10px;
            height: 20px;
          }
        }
      }
    }
    @media(max-width: @brakepoint-small) {
      width: 36px;
      height: 36px;
      margin-right: 17px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


// TABS
.toggle-tabs {

  // скрыл табы пока нет расписания и спикеров на второй день
  // display: none !important;

  max-width: 200px;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  @media(max-width: @brakepoint-large) {
    margin-top: 10px;
  }
  @media(max-width: @brakepoint-small) {
    float: none;
    display: block;
    width: 100%;
  }
}

.tab {
  cursor: pointer;
  display: inline-block;
  color: @blue;
  background-color: @white;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 18px;
  font-family: @DinBold;
  line-height: 2em;
  padding: 0 0.5em;
  border: 2px solid @blue;
  margin-right: 15px;
  transition: 0.2s;
  &:hover {
    text-decoration: none;
  }
  &:last-child {
    margin-right: 0;
  }
  &.active {
    color: @white;
    background-color: @blue;
  }
}
