section.about#about.relative
  
  
  //- parallax (figures)
  .about__bg.parallax-figures.parallax-figures_about  
    .rellax(data-rellax-speed="2", data-rellax-percentage="0.5")
      img(src="assets/img/background/about-figures.png")
      
      
  //- parallax (animals)
  .about__bg_animal.parallax-figures.parallax-figures_about_animal
    //- cat-1
    .rellax
      img.about__animal.about__animal-1(src="assets/img/icons/dog-2.png")
        //- dog-1
    .rellax(data-rellax-speed="2", data-rellax-percentage="0.5")
      img.about__animal.about__animal-2(src="assets/img/icons/cat-2.png")
        //- dog-2
    .rellax
      img.about__animal.about__animal-3(src="assets/img/icons/dog-3.png")
        //- cat-2
    .rellax(data-rellax-speed="1", data-rellax-percentage="0.5")
      img.about__animal.about__animal-4(src="assets/img/icons/cat-1.png")
        
        
    
  
  .container.clearfix.about__wrap
    h2.title_h2.about__title О фестивале
    .about__description
      p.text_normal Фестиваль «Petshop Days» объединит не только хозяев, их питомцев и людей, занимающихся разведением, воспитанием и защитой домашних животных,
                  |но и всех тех, кто, так или иначе, причастен к животному миру - 
                  |от производителей кормов и игрушек до просто любопытных прохожих. 
                  |Мы обещаем вам зрелищное, веселое, интересное и поучительное мероприятие, которое непременно понравится даже тем, у кого ещё нет любимых четвероногих друзей.
    .about__advantages.clearfix
      p.about__advantage Креативные 
        br 
        | площадки
      p.about__advantage Популярные
        br 
        | блоггеры
      p.about__advantage Ведущие
        br 
        | зоологи
      p.about__advantage Конкурс
        br 
        | красоты
        
    //- map 
  .container
    .about__map.relative
      
      //- //- cat-1
      //- .rellax
      //-   img.about__animal.about__animal-1(src="assets/img/icons/dog-2.png")
      //-     //- dog-1
      //- .rellax(data-rellax-speed="2", data-rellax-percentage="0.5")
      //-   img.about__animal.about__animal-2(src="assets/img/icons/cat-2.png")
      //-     //- dog-2
      //- .rellax(data-rellax-speed="3", data-rellax-percentage="0.5")
      //-   img.about__animal.about__animal-3(src="assets/img/icons/dog-3.png")
      //-     //- cat-2
      //- .rellax(data-rellax-speed="3", data-rellax-percentage="0.5")
      //-   img.about__animal.about__animal-4(src="assets/img/icons/cat-1.png")
      
      
      
      //- fallback BG (no-parallax)
      //- .about__map-bg.j-map-bg
      
      //- титулы секций
      
      //- Гардероб (1) нет всплывашки. Убрал триггер
      .map-title.map-title-1
        h2.title_h2.map-bg-title.unclicable Гардероб
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-1 Ресторан
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Текст для ресторана
          
      //- Ресторан (2) нет всплывашки. Убрал триггер
      .map-title.map-title-2
        h2.title_h2.map-bg-title.unclicable Ресторан
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-2 Ресторан
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Текст для ресторана
          
      //- Зоо ресторан (3)
      .map-title.map-title-3
        a.title_h2.map-bg-title.j-popup-title Зоо
          br
          |ресторан
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-3 Зоо ресторан
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Проголодались? Мы подумали и об этом. В ресторанной локации вы сможете основательно подкрепиться, выпить прохладительный напиток, а, если вы пришли с питомцем, то он тоже не останется без обеда. Ваш друг получит только высококачественный корм и самую свежую воду.
        
        
      //- титульник петшоп
      .map-title.map-title-4
        a.title_h2.map-bg-title.j-popup-title Petshop.ru
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-4 Petshop.ru
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Фирменная локация самой большой в России сети интернет-магазинов товаров для животных Petshop.ru. Только здесь — самые популярные товары по приятным ценам, самые улыбчивые продавцы, самые профессиональные консультации, а также подарки, сюрпризы, веселые конкурсы и активности.
      
      
      //- Маркет (5)
      .map-title.map-title-5
        a.title_h2.map-bg-title.j-popup-title Маркет
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-5 Маркет
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Здесь вы сможете пополнить запасы корма и наполнителя, прикупить для вашего четвероного друга лакомства и игрушки, протестировать косметику для ухода за шерстью. Помимо этого в пространстве Маркета вас ждет оригинальная hand-made продукция, сувениры и эксклюзивные товары от партнеров фестиваля.
      
      
      //- Фотозона (6)
      .map-title.map-title-6
        a.title_h2.map-bg-title.j-popup-title Фотозона
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-6 Фотозона
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Какое же мероприятие без красивых фотографий на память? Мы подготовили для вас несколько красочных фирменных фотозон, где у вас получатся только самые яркие и веселые фото, которые непременно соберут множество лайков и комментариев.

              
      //- Блоггеры (7)
      .map-title.map-title-7
        a.title_h2.map-bg-title.j-popup-title Блоггеры
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-7 Блоггеры
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Не можете жить без Instagram и Youtube? Регулярно проверяете как дела у любимых блогеров? Тогда не проходите мимо! Специально для вас мы собрали в одном месте признанных звезд этих площадок, некоторые из которых приедут со своими звездными питомцами. Вас ждут интересные мастер-классы, фото- и автограф-сессии. Возможно, кумир, на которого ты подписан, будет у нас на фестивале…
          
      //- Приюты (8)
      .map-title.map-title-8
        a.title_h2.map-bg-title.j-popup-title Приюты
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-8 Приюты
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Мы не могли не предоставить нашим гостям возможность внести свой вклад в деятельность благотворительных организаций. На наш фестиваль придут милые хвостатые гости — бездомные собаки из кошки из приютов «Друг» и «Пойдем домой». В зоне Приюты вы сможете пообщаться с ними, подробнее узнать об их жизни, помочь тем, кто остался без дома. А, быть может, именно вам захочется подарить одному из них дом?

          
      //- Здоровье (9)
      .map-title.map-title-9
        a.title_h2.map-bg-title.j-popup-title Здоровье
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-9 Здоровье
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Высококвалифицированные врачи-ветеринары ответят на любой ваш, даже самый неожиданный, вопрос, проведут консультацию и общий осмотр вашего питомца. Нужно подобрать правильное питание? Получить рекомендации по уходу или лечению? Выездная ветеринарная служба Petshop Days к вашим услугам!

          
      //- Beauty bar (10)
      .map-title.map-title-10
        a.title_h2.map-bg-title.j-popup-title Beauty
          br
          |bar
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-10 Beauty bar
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Лохматых — причешем, причесанным сделаем модную стрижку, а подстриженным повяжем бантик. А пока над четвероногими клиентами колдует профессиональный грумер, наши beauty-партнеры из ibody.ru сделают их хозяйкам профессиональный макияж, а хозяину подровняют бороду. Наши мастера ждут вас!
        
      //- Фотозона (11)
      .map-title.map-title-11
        a.title_h2.map-bg-title.j-popup-title Фотозона
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-11 Фотозона
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Какое же мероприятие без красивых фотографий на память? Мы подготовили для вас несколько красочных фирменных фотозон, где у вас получатся только самые яркие и веселые фото, которые непременно соберут множество лайков и комментариев.

          
      //- Лекторий (12)
      .map-title.map-title-12
        a.title_h2.map-bg-title.j-popup-title Лекторий
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-12 Лекторий
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Вам доводилось слышать, как поет Дроздов? Хотите попасть в рейтинг Баженова? Именитые лекторы, знакомые вам по ТВ-передачам и YouTube каналам, доступно и увлекательно расскажут интересные факты и истории о домашних животных. Кроме того, на основной сцене лектория мы подготовили несколько неожиданных сюрпризов! Например, награждение победителей конкурсов Мисс Petshop и Petshop Blogger Awards.

          
      //- Дети (13)
      .map-title.map-title-13
        a.title_h2.map-bg-title.j-popup-title Дети
        .about__map-popup.shadow.j-popup-window
          h2.title_h2.about__popup-title.title-13 Дети
          a.about__popup_close.icon-close.j-popup-close
          p.text_light Детская площадка со множеством развлечений придется очень кстати, если ваши дети немного заскучали: рисование, аквагрим, игрушки, конкурсы и викторины от заводных аниматоров. Зона детского смеха и веселья — скучно не будет!
      
      
    //- ------------------------------------------------------------
    //- после 768px;
    ul.about__sections-list
      li.about__sections-item.item-1.relative.j-section-item
        h2.title_h2.about__popup-title.title-5.j-section-toggle Маркет
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Здесь вы сможете пополнить запасы корма и наполнителя, прикупить для вашего четвероного друга лакомства и игрушки, протестировать косметику для ухода за шерстью. Помимо этого в пространстве Маркета вас ждет оригинальная hand-made продукция, сувениры и эксклюзивные товары от партнеров фестиваля.
     
      li.about__sections-item.item-2.relative.j-section-item
        h2.title_h2.about__popup-title.title-3.j-section-toggle Зооресторан
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Проголодались? Мы подумали и об этом. В ресторанной локации вы сможете основательно подкрепиться, выпить прохладительный напиток, а, если вы пришли с питомцем, то он тоже не останется без обеда. Ваш друг получит только высококачественный корм и самую свежую воду.
        
      li.about__sections-item.item-3.relative.j-section-item
        h2.title_h2.about__popup-title.title-9.j-section-toggle Здоровье
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Высококвалифицированные врачи-ветеринары ответят на любой ваш, даже самый неожиданный, вопрос, проведут консультацию и общий осмотр вашего питомца. Нужно подобрать правильное питание? Получить рекомендации по уходу или лечению? Выездная ветеринарная служба Petshop Days к вашим услугам!
    
      li.about__sections-item.item-4.relative.j-section-item
        h2.title_h2.about__popup-title.title-10.j-section-toggle Beauty Bar
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Лохматых — причешем, причесанным сделаем модную стрижку, а подстриженным повяжем бантик. А пока над четвероногими клиентами колдует профессиональный грумер, наши beauty-партнеры из ibody.ru сделают их хозяйкам профессиональный макияж, а хозяину подровняют бороду. Наши мастера ждут вас!
    
      li.about__sections-item.item-5.relative.j-section-item
        h2.title_h2.about__popup-title.title-7.j-section-toggle Блоггеры
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Не можете жить без Instagram и Youtube? Регулярно проверяете как дела у любимых блогеров? Тогда не проходите мимо! Специально для вас мы собрали в одном месте признанных звезд этих площадок, некоторые из которых приедут со своими звездными питомцами. Вас ждут интересные мастер-классы, фото- и автограф-сессии. Возможно, кумир, на которого ты подписан, будет у нас на фестивале…
    
      li.about__sections-item.item-6.relative.j-section-item
        h2.title_h2.about__popup-title.title-12.j-section-toggle Лекторий
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Вам доводилось слышать, как поет Дроздов? Хотите попасть в рейтинг Баженова? Именитые лекторы, знакомые вам по ТВ-передачам и YouTube каналам, доступно и увлекательно расскажут интересные факты и истории о домашних животных. Кроме того, на основной сцене лектория мы подготовили несколько неожиданных сюрпризов! Например, награждение победителей конкурсов Мисс Petshop и Petshop Blogger Awards.
    
      li.about__sections-item.item-7.relative.j-section-item
        h2.title_h2.about__popup-title.title-4.j-section-toggle Petshop.ru
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Фирменная локация самой большой в России сети интернет-магазинов товаров для животных Petshop.ru. Только здесь — самые популярные товары по приятным ценам, самые улыбчивые продавцы, самые профессиональные консультации, а также подарки, сюрпризы, веселые конкурсы и активности.
    
      li.about__sections-item.item-8.relative.j-section-item
        h2.title_h2.about__popup-title.title-8.j-section-toggle Приюты
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Мы не могли не предоставить нашим гостям возможность внести свой вклад в деятельность благотворительных организаций. На наш фестиваль придут милые хвостатые гости — бездомные собаки из кошки из приютов «Друг» и «Пойдем домой». В зоне Приюты вы сможете пообщаться с ними, подробнее узнать об их жизни, помочь тем, кто остался без дома. А, быть может, именно вам захочется подарить одному из них дом?
    
      li.about__sections-item.item-9.relative.j-section-item
        h2.title_h2.about__popup-title.title-6.j-section-toggle Фотозона
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Какое же мероприятие без красивых фотографий на память? Мы подготовили для вас несколько красочных фирменных фотозон, где у вас получатся только самые яркие и веселые фото, которые непременно соберут множество лайков и комментариев.
    
      li.about__sections-item.item-10.relative.j-section-item
        h2.title_h2.about__popup-title.title-13.j-section-toggle Дети
        a.about__sections-toggle.j-section-toggle.toggle
        p.text_light.j-section-text Детская площадка со множеством развлечений придется очень кстати, если ваши дети немного заскучали: рисование, аквагрим, игрушки, конкурсы и викторины от заводных аниматоров. Зона детского смеха и веселья — скучно не будет!
    
