//- faq
section.faq#faq
  .container.faq__wrap
    h2.title_h2.faq__title Faq
    h3.title_h3.faq__subtitle Часто задаваемые вопросы
    
    ul.faq__list
      
      //- item-1 (done)
      li.faq__list-item
        h4.title_blue.faq__item-title Когда и где состаится фестиваль?
        p.text_normal Petshop Days состоится в выходные, 30 сентября и 1 октября, в Санкт-Петербурге. С 11:00 до 20:00  ждем вас в креативном пространстве «Ткачи» по адресу наб. Обводного канала, 60.
      //- item-2 (done)
      li.faq__list-item
          h4.title_blue.faq__item-title Где купить билеты на Petshop Days?
          p.text_normal Билеты на Petshop Days можно приобрести на нашем сайте petshopdays.ru
            br 
            | Стоимость взрослого билета 
            span.text_orange 200 рублей.
            br 
            |Билет для детей 
            span.text_orange 100 рублей.
            br
            |Любой из билетов может быть приобретён как на один, так и на два дня. Программа фестиваля уникальна для каждого дня.
            |Стоимость билета на два дня 
            span.text_orange 300 рублей.
      //- item-3  (done) 
      li.faq__list-item
        h4.title_blue.faq__item-title Какие виды билетов предусмотрены?
        p.text_normal 
          span.bold Взрослый - 
          |предоставляет своему владельцу возможность попасть на мероприятие и даёт бесплатный доступ ко всем развлекательным площадкам фестиваля.
          br
          span.bold Детский - 
          |входной билет для детей от 7 до12 лет. Детям до 7 лет входной билет предоставляется бесплатно, но только в сопровождении взрослых.   
      //- item-4
      li.faq__list-item
        h4.title_blue.faq__item-title Как осуществляется вход для гостей с ограниченными возможностями и пожилих людей?
        p.text_normal Гости с ограниченными возможностями и гости уважаемого возраста (>65 лет) смогут прийти на фестиваль бесплатно по предварительной заявке, отправленной на адрес info@petshopdays.com
      //- item-5
      li.faq__list-item
        h4.title_blue.faq__item-title Как добраться до фестиваля?
        p.text_normal Креативное пространство «Ткачи» расположено в центре Петербурга на набережной Обводного канала, в трех минутах от станции метро «Обводный канал». Вы также может добраться до места проведения фестиваля на 65 автобусе от метро Балтийская.
      //- item-6
      li.faq__list-item
        h4.title_blue.faq__item-title Есть ли зоны для парковки машин у места проведения фестиваля?
        p.text_normal Вокруг креативного пространства организована бесплатная публичная парковка.  Вы также можете воспользоваться обширной парковкой напротив гипермаркета «Ашан», расположенного недалеко от Ткачей.
      //- item-7
      li.faq__list-item
        h4.title_blue.faq__item-title Еда и напитки
        p.text_normal Приходить на Petshop Days со своей едой и напитками запрещено (кроме детского питания для гостей с детьми). На территории мероприятия будут представлен рестораны и точки питания, где вы можете полноценно и вкусно поесть.
      //- item-8
      li.faq__list-item
        h4.title_blue.faq__item-title Способы оплаты на фестивале
        p.text_normal К сожалению, пространство «Ткачи» не оборудовано банкоматами. Точки питания и сувенирной продукции принимают наличные. Некоторые участники локации «Маркет» принимают также кредитные карты — уточняйте этот вопрос перед оплатой покупки.
      //- item-9
      li.faq__list-item
        h4.title_blue.faq__item-title Пускают ли на фестиваль с собаками?
        p.text_normal Конечно, да! Мы ждем всех ваших питомцев, и не только собак, - накормим, сфотографируем, организуем специальную зону для выгула. Но вот владельцам котов следует задуматься - на фестивале ожидается очень много собак. 
