//- footer
footer.main-foot
  .container.main-foot__wrap.clearfix
    .main-foot__logo
    ul.main-foot__social-list
      li.social__item.vk
        a(href="#").icon.icon-vk
      li.social__item.inst
        a(href="#").icon.icon-inst
      li.social__item.fb
        a(href="#").icon.icon-fb
    .main-foot__info.clearfix
      p.main-foot__info-email
        a.text_blue info@petshopdays.ru 
      p.main-foot__info-phone
        a.text_blue +7-964-364-88-67
        
//- topline
.main-topline
  .container
    p.text_normal Все права защищены. Petshop Days 2017 (c)

    
