//- footer
footer.main-foot
  .container.main-foot__wrap.clearfix
    .main-foot__logo
    //- ul.main-foot__social-list
    //-   li.social__item.vk
    //-     a(href="https://vk.com/petshop_days", target="_blank").icon.icon-vk
    //-   li.social__item.inst
    //-     a(href="https://www.instagram.com/petshopdays/", target="_blank").icon.icon-inst
    //-   li.social__item.fb
    //-     a(href="https://www.facebook.com/events/1947595722128536/", target="_blank").icon.icon-fb
    ul.main-foot__social-list
      li.social__item.vk.big
        a(href="https://vk.com/petshop_days", target="_blank")
          img(src="assets/img/svg/vk.svg")
      li.social__item.inst.big
        a(href="https://www.instagram.com/petshopdays/", target="_blank")
          img(src="assets/img/svg/inst.svg")
      li.social__item.fb.big
        a(href="https://www.facebook.com/events/1947595722128536/", target="_blank")
          img(src="assets/img/svg/fb.svg")
            
    .main-foot__info
      p.main-foot__info-email
        a(href="mailto:info@petshopdays.ru").text_blue info@petshopdays.ru
      p.main-foot__info-phone
        a(href="tel:+79643648867").text_blue +7-964-364-88-67

//- topline
.main-topline
  .container
    p.text_normal Все права защищены. Petshop Days 2017 (c)

include ./_counter

    
