header.main-head#header
  
  //- parallax-figures (header)
  .parallax-figures.parallax-figures_header
    .rellax(data-rellax-speed="5", data-rellax-percentage="0.5")
      img(src="assets/img/background/header-figures.png")
  
  //- кнопка toogle-main-menu
  a.main-menu__hidden-btn.j-menu-toggle
  .container
    .main-head__wrap
      <h1 class="main-head__logo icon-p-days"></h1>
      h2.title_h2.main-head__title Первый городской фестиваль домашних животных
      p.main-head__date 30/09/01/10
      p.main-head__place Санкт-Петербург,
        a.main-head__place-link(href="#map") Ткачи
      //- a.btn(data-radario-event-id="189019") купить билет за 200 
      a.btn.btn_rub(href="https://radario.ru/hosts/6331", target="_blank") купить билет за 200 
        i.rub 9
    
