header.main-head#header
  //- кнопка toogle-main-menu
  a.main-menu__hidden-btn.j-menu-toggle
  .container
    .main-head__wrap
      <h1 class="main-head__logo icon-p-days"></h1>
      h2.title_h2.main-head__title Первый городской фестиваль домашних животных
      p.main-head__date 30/09/01/10
      p.main-head__place Санкт-Петербург,
        a.main-head__place-link(href="#map") Ткачи
      a.btn купить билет за 200 
        i.rub а
    
