nav.main-menu.clearfix.j-main-menu
  a.main-menu__close.j-menu-close
  .container.main-menu__wrap
    ul.main-menu__list
      li.main-menu__item.logo_big.hidden
      li.main-menu__item.logo.hidden
        a(href="#header").j-scroll-link
      li.main-menu__item
        a(href="#about").j-scroll-link О фестивале
      li.main-menu__item
        a(href="#speakers").j-scroll-link Спикеры
      //- временно .not-active (пока расписание скрыто)
      //- li.main-menu__item
      //-   a(href="#schedule").j-scroll-link Расписание
      li.main-menu__item
        a(href="#missPetshop").j-scroll-link Miss Petshop
      li.main-menu__item
        a(href="#faq").j-scroll-link Faq
      li.main-menu__item
        a(href="#sponsors").j-scroll-link Спонсоры
      li.main-menu__item
        a(href="#map").j-scroll-link Место проведения
      li.main-menu__item.buy.hidden
        //- a(href="#", data-radario-event-id="189019").text_orange Купить билет
        a(href="https://radario.ru/hosts/6331", target="_blank").text_orange Купить билет
          
        
    ul.main-menu__social
      li.social__item.vk
        a(href="https://vk.com/petshop_days", target="_blank").icon.icon-vk
      li.social__item.inst
        a(href="https://www.instagram.com/petshopdays/", target="_blank").icon.icon-inst
      li.social__item.fb
        a(href="https://www.facebook.com/events/1947595722128536/", target="_blank").icon.icon-fb
    
