nav.main-menu.clearfix.j-main-menu
  a.main-menu__close.j-menu-close
  .container.main-menu__wrap
    ul.main-menu__list
      li.main-menu__item.logo_big.hidden
      li.main-menu__item.logo.hidden
        a(href="#header")
      li.main-menu__item
        a(href="#about") О фестивале
      li.main-menu__item
        a(href="#speakers") Спикеры
      li.main-menu__item
        a(href="#schedule") Расписание
      li.main-menu__item
        a(href="#missPetshop") Miss Petshop
      li.main-menu__item
        a(href="#faq") Faq
      li.main-menu__item
        a(href="#sponsors") Спонсоры
      li.main-menu__item
        a(href="#map") Место проведения
      li.main-menu__item.buy.hidden
        a(href="#").text_orange Купить билет
        
    ul.main-menu__social
      li.social__item.vk
        a(href="vk.com").icon.icon-vk
      li.social__item.inst
        a(href="instagram.com").icon.icon-inst
      li.social__item.fb
        a(href="facebook.com").icon.icon-fb
    
