//- map
section.map#map
  //- стили повторяют структуру header
  .map__popup.shadow
    h2.title_h2.map__popup-title Место проведения
    p.map__popup-date 30/09-01/10
    p.map__popup-place Санкт-Петербург,
      span.main-head__place-link Ткачи
    p.text_light Набережная Обводного канала, 60
    p.text_light Станция метро “Обводный канал”
    p.map__popup-cost Стоимость билетов: 200 
      span.rub.rub_big 5
    //- a.btn.map__popup-btn(href="#", data-radario-event-id="189019") купить билет
    a.btn.map__popup-btn(href="https://radario.ru/hosts/6331", target="_blank") купить билет
  #mapkit-7181
    
  
