//- SLIDER
section.slider#missPetshop
  .slider__container.j-slider-container
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
    .slider__slide.j-slider-slide
      
      
  //- SLIDER-POPUP 
  .slider__popup.shadow
    h2.title_h2.slider__popup-title Miss Petshop
    p.text_light.slider__popup-text Выложите  фотографию со своим питомцем в любой из социальных сетей, а команда организаторов фестиваля «Pet Shop Days» выбирет финалисток с учетом количества лайков под фото.
    p.text_light.slider__popup-text Суперпризы  - годовой запас корма, и набор косметики от ibody.ru
    p.text_light.slider__popup-text Участвовать в конкурсе можно через Instagram с хештегом #MissPetshop
     |  или 
     a.lined ВКонтакте
    p.text_light.slider__popup-text Конкурсы между собой не пересекаются: если вы не попали в число финалисток в одной социальной сети, то сможете испытать судьбу в другой.
    
    //- TERMS OF USE (RULES) HIDDEN ! ONLY FOR 320px !!!
    .slider__terms.clearfix.small
      ul.slider__terms-list
        li.slider__terms-item.text_blue на фото вы должны быть со своим питомцем
        li.slider__terms-item.text_blue можно выкладывать только одно фото
        li.slider__terms-item.text_blue публиковать можно только собственные фотографии
        li.slider__terms-item.text_blue в конкурсе могут принимать участие девушки любого возраста
    
    .slider__popup-bottom
      p.text_normal.slider__popup-text Финалистки будут определены 
        span.text_orange 18 сентября 
        | и объявлены в нашей встрече 
        a.lined ВКонтакте.
      p.text_normal.slider__popup-text Победительница будет выбрана жюри 
        span.text_orange 30 сентября 
        | на фестивале.
      
  //- TERMS OF USE (RULES)
  .slider__terms.clearfix
    ul.slider__terms-list
      li.slider__terms-item.text_blue на фото вы должны быть со своим питомцем
      li.slider__terms-item.text_blue можно выкладывать только одно фото
      li.slider__terms-item.text_blue публиковать можно только собственные фотографии
      li.slider__terms-item.text_blue в конкурсе могут принимать участие девушки любого возраста
