//- speakers
section.speakers#speakers.relative
  
  //- parallax-figures (speakers)
  .parallax-figures.parallax-figures_speakers
    .rellax(data-rellax-speed="4", data-rellax-percentage="0.5")
      img(src="assets/img/background/speakers-figures.png")
  
  .container.speakers__wrap.shadow
    .clearfix
      h2.title_h2.speakers__title Спикеры
      .toggle-tabs
        a.toggle-tab-1.tab.j-sp-link-1.active 1 день
        a.toggle-tab-2.tab.j-sp-link-2 2 день
      
    .clearfix
      ul.speakers__list.clearfix.j-sp-tab-1
        
        mixin speaker(firstname, lastname, imgClass, src, subtitle, text)
          li.speakers__item.clearfix
            img(class=imgClass, src=src)
            h3.title_h3.speakers__item-title= firstname
              br 
              =lastname
              h4.title_h4.speakers__item-subtitle!= [subtitle]
              p.text_light.speakers__text!= text

        //- speaker-1
        +speaker(
        "Тимофей",
        "Баженов",
        "speakers__item-img img-1",
        "/assets/img/photos/day_1/speaker-1.png",
        "Телевизионный журналист, зоолог, специалист по выживанию, автор и ведущий программы <span class='no-wrap'>\“Рейтинг Баженова\”</span>",
        "\«Содержание дома диких животных\»"
        )
        
        //- speaker-2
        +speaker(
        "Григорий",
        "Манев",
        "speakers__item-img img-2",
        "/assets/img/photos/day_1/speaker-2.png",
        "Автор и ведущий программы <span class='no-wrap'>\“Планета собак\”</span> на телеканале <span class='no-wrap'>\“Моя планета\”</span> ",
        "\«В доме появился щенок\»"
        )
        
        //- speaker-?
        //- +speaker(
        //- "Дмитрий",
        //- "\“Гоблин\” Пучков",
        //- "speakers__item-img img-3",
        //- "/assets/img/photos/day_1/speaker-7.png",
        //- "Писатель, публицист, переводчик и блогер",
        //- "Интервью <br>\«Как воспитывать собаку-убийцу\» "
        //- )
        
        //- speaker-3
        +speaker(
        "Анна",
        "Magic Family",
        "speakers__item-img img-3",
        "/assets/img/photos/day_1/speaker-8.png",
        "Youtube блогер",
        "\«Как подружиться со своей собакой\»"
        )
        
        //- speaker-4
        +speaker(
        "Алексей",
        "Верещагин",
        "speakers__item-img img-4",
        "/assets/img/photos/day_1/speaker-3.png",
        "Инструктор - дрессировщик собак, консультант National Geographic",
        "\«Что говорят собаки\»"
        )
        
        //- speaker-5
        +speaker(
        "Ирина",
        "Кацер",
        "speakers__item-img img-5",
        "/assets/img/photos/day_1/speaker-4.png",
        "Президент клуба любителей кошек \“Вариета\”, судья международной категории по всем породам кошек",
        "\«Кошка и вы: кто в доме хозяин?!\»"
        )
        
        //- speaker-6
        +speaker(
        "Андрей",
        "Петров",
        "speakers__item-img img-6",
        "/assets/img/photos/day_1/speaker-5.png",
        "instagram @xaskibest",
        "\«Хаски: почему их все любят\»"
        )
        
        //- speaker-7
        +speaker(
        "Марфа",
        "Петербургская",
        "speakers__item-img img-7",
        "/assets/img/photos/day_1/speaker-6.png",
        "Fashion блогер",
        "\«Фобии, страхи и неврозы у питомца. Почему в их появлении часто виноват хозяин\»"
        )
        
        //- speaker-8 (last speaker)
        //- +speaker(
        //- "Арслан",
        //- "Валеев",
        //- "speakers__item-img img-8",
        //- "/assets/img/photos/day_1/speaker-9.png",
        //- "Герпетолог и террариумист, создатель сообщества <span class='no-wrap'>\“Частный экзотариум\”</span>",
        //- "\«Как пригреть змею на груди?\»"
        //- )
        
        
        
        
      //- DAY 2 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
      
      ul.speakers__list.clearfix.j-sp-tab-2
        
        //- speaker-1
        +speaker(
        "Иван",
        "Затевахин",
        "speakers__item-img img-1",
        "/assets/img/photos/day_2/speaker-9.png",
        "Телерадиоведущий, кандидат биологических наук , автор и ведущий программы \«Диалоги о животных\»",
        "\«Собаки и мы. 50 тысяч лет вместе\»"
        )
      
        //- speaker-1
        +speaker(
        "Григорий",
        "Манев",
        "speakers__item-img img-2",
        "/assets/img/photos/day_2/speaker-1.png",
        "Автор и ведущий программы <span class='no-wrap'>\“Планета собак\”</span> на телеканале <span class='no-wrap'>\«Моя планета\»”</span> ",
        " \«Содержание дома диких животных\» "
        )
        //- speaker-2
        +speaker(
        "Глеб",
        "Корнилов",
        "speakers__item-img img-3",
        "/assets/img/photos/day_2/speaker-2.png",
        "youtube блогер",
        "\«Питомец и социальные сети\»"
        )
        //- speaker-3
        +speaker(
        "Граубергер",
        "Наталья",
        "speakers__item-img img-4",
        "/assets/img/photos/day_2/speaker-3.png",
        "Ветеринарный врач клиники Сотникова",
        "\«Полезные советы по кормлению. Покупаем корм или готовим сами?\»"
        )
        //- speaker-4
        +speaker(
        "Ирина",
        "Кацер",
        "speakers__item-img img-5",
        "/assets/img/photos/day_2/speaker-4.png",
        "Президент клуба любителей кошек \“Вариета\”, судья международной категории по всем породам кошек",
        "\«Кошка и вы: кто в доме хозяин?!\»"
        )
        //- speaker-5
        +speaker(
        "Андрей",
        "Петров",
        "speakers__item-img img-6",
        "/assets/img/photos/day_2/speaker-5.png",
        "instagram @xaskibest",
        "\«Хаски: почему их все любят\»"
        )
        //- speaker-6
        +speaker(
        "Мария",
        "Чиженкова",
        "speakers__item-img img-7",
        "/assets/img/photos/day_2/speaker-6.png",
        "Фотограф",
        "\«Instagram и анималистическая фотография\»"
        )
        //- speaker-7
        +speaker(
        "Лера \“Pomadka\”",
        "Тарасова",
        "speakers__item-img img-8",
        "/assets/img/photos/day_2/speaker-7.png",
        "Beauty блогер",
        "\«Как содержать африканского ежа\»"
        )

        +speaker(
        "Евгения",
        "Голубева",
        "speakers__item-img img-1",
        "/assets/img/photos/day_2/speaker-8.png",
        "insta блогер @chromosomedog",
        "\«За границу с собакой? Легко!\»"
        )
    
    
  
        
    
