//- sponsors
section.sponsors#sponsors.relative
  
  .sponsors__bg.parallax-figures.parallax-figures_sponsors
    .rellax(data-rellax-speed="3", data-rellax-percentage="0.5")
      img(src="assets/img/background/faq-figures.png")
  
  
  .container.sponsors__wrap
    h2.title_h2.sponsors__title Спонсоры
    
    //- big list
    ul.sponsors__list.first
      li.sponsors__item.ps
        img(src="assets/img/logo/petshop.svg")
      li.sponsors__item.ib
        img(src="assets/img/logo/ibody.svg")
    
    //- small list
    ul.sponsors__list.second
      li.sponsors__item.almo
        img(src="assets/img/logo/almo.svg")
      li.sponsors__item.now
        img(src="assets/img/logo/now.svg")
      li.sponsors__item.go
        img(src="assets/img/logo/go.svg")
