extends ../templates/_template

block variables
  - var title = 'Petshop Days'

block content
  main.main-content.relative
    
    //- временно скрытые блоки закомментированы
    
    include ../blocks/_header
    include ../blocks/_main-menu
    include ../blocks/_about
    include ../blocks/_speakers
    include ../blocks/_schedule
    //- include ../blocks/_banner
    include ../blocks/_slider
    include ../blocks/_faq
    include ../blocks/_sponsors
    include ../blocks/_map
    include ../blocks/_footer
    
    
        
