block variables

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    link(rel="shortcut icon", href="assets/img/favicon/favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon", size="57x57", href="assets/img/favicon/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", size="72x72", href="assets/img/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", size="76x76", href="assets/img/favicon/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", size="114x114", href="assets/img/favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", size="120x120", href="assets/img/favicon/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", size="144x144", href="assets/img/favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", size="152x152", href="assets/img/favicon/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", size="180x180", href="assets/img/favicon/apple-touch-icon-180x180.png")
    //- favicon block end

    link(rel='stylesheet' href='/assets/css/foundation.css')
    link(rel='stylesheet' href='/assets/css/app.css')
    script(src='/assets/js/foundation.js' defer)
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-8H4hutCXCUKFEi8Meto3Q0MGM-bI4I8&extension=.js" defer)
    script(src="https://cdn.mapkit.io/v1/infobox.js" defer)
    
    script(src='/assets/js/app.js' defer)
    
    script(type="text/javascript").
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter45777588 = new Ya.Metrika({
      id:45777588,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true,
      ecommerce:"dataLayer"
      });
      } catch(e) { }
      });
    
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
    
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
      
    noscript
      div
        img(src="https://mc.yandex.ru/watch/45777588",style="position:absolute; left:-9999px", alt="")  
      
    

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" defer)
    <![endif]-->

  body
    block content
      
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400')
    link(rel='stylesheet' href='https://cdn.mapkit.io/v1/infobox.css')
